@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  user-select: none;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

.character_cards {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.background {
  background-image: url("./shared/assets/images/avas_p_0189_ss12.jpeg");
  background-attachment: fixed;
  min-height: calc(100vh - 0px)
} 

.character_card_name {
  font-size: 20px;
  color: white;
  font-family: 'Alegreya Sans SC';
  text-align: center;
}

.loading {
  font-size: 50px;
  color: white;
  text-align: center;
}

.modal-content {
  position: fixed;
  width: 500px;
  height: 600px;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -250px;
  background: rgb(244,244,247);
  background: radial-gradient(circle at 17% 30%, rgba(244,244,247,1) 0%, rgba(29,81,192,1) 17%, rgba(26,92,197,1) 27%, rgba(38,38,172,1) 50%, rgba(200,25,55,1) 81%, rgba(217,14,14,1) 97%);
  color: white;
}

.character_name {
font-size: 35px;
color: rgb(224, 191, 6);
font-family: 'Alegreya Sans SC'
}

.character_description {
  font-size: 14px;
  font-family: monospace;
}
